*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation:reverse fade 1s;
}

 @keyframes fade { /* Fade in animation */
      from {
        opacity: 1;
        transform: scale(1.0);
      }
      to {
        opacity: 1;
        transform: scale(0.8);
      }
    }

.one{
    position: relative;
    background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F3239444.jpg&f=1&nofb=1&ipt=310ca5c2e0fa2dfd60fa927708168eb62eb122cf29cb7faa32ff58ce432df80a");
    padding-bottom: 0px;
}

nav{
    display: flex;
    padding: 20px 30px 10px 60px;
    justify-content: space-between;
    background-color: black;
}

nav h1{
    color: #dce1ea;
    margin-right: 90px;
    
}

nav ul li{
    display: inline-block;
    list-style:none;
    margin: 10px 25px;

}

nav ul a{
    text-decoration:none;
    color:white;
    font-weight: bold;
}

nav ul li a:hover{
    color: blue;
}

.Two{

    margin-left: 8%;
    margin-top: 5%;
}

.Two h1{
    color: white;
    font-size: 50px;
    margin:0;
}



.Two p{
    color: greenyellow;
    line-height: 23px;
}

.Two a{
    background-color: black;
    font-weight: bold;
    padding: 10px 12px;
    text-decoration: none;
    color: #dce1ea;
    margin: 30px 0px;
    display:inline-block;
    border-radius: 55px;
    
    
}

.images{
    width: 45%;
    height: 70%;
    position: absolute;
    bottom: 0;
    right: 250px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 90%;
    bottom: 10%;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}

img ins{
    height: 100px;
    width: 100px;
}

.linkedin{
   height: 50px;
   width: 55px;
   border-radius: 20px;
   background: linear-gradient(to right, cyan,rgb(194, 255, 192));
}


.instagram{
    height: 50px;
   width: 55px;
   border-radius: 20px;
   background: linear-gradient(to right, cyan,rgb(194, 255, 192));
}
